html {
    font-size: 14px;
    font-family: "Lora", serif;
}

h1 {
    color: #3c78d8;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

body {
    margin: 0px;
}

dt {
    text-decoration-line: underline;
    text-decoration-color: black;
}



nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: left;
    font-size: larger;
    font-weight: bolder;
    z-index: 1;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111111;
}

.about {
    max-width: fit-content;
    text-align: center;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    color: #3c78d8;
    padding-top: 40px;

}

.about h2 p {
    float: right;
    font-size: larger;
}

.about div {
    float: left;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 11%;
    margin-right: 10%;
    background-color: lightgray;
}

.about div img {
    width: 100%;
    height: auto;
}


.experience {
    margin-bottom: 50px;
    background-color: lightgray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    padding: 20px;
}

.experience h2 {
    color: #3c78d8;
    text-align: center;
}

.skills {
    margin-bottom: 100px;
    background-color: lightgray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    padding: 20px;
}

.skills h2 {
    color: #3c78d8;
    text-align: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid #3c78d8;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container div {
    width: 250px;
    border-radius: 25px;
    background-color: darkgrey;
    margin: 15px;
    padding: 5px;
}

.container div h3 {
    justify-content: center;
    text-align: center;
}

.container div h3 ul {
    justify-content: left;
    text-align: left;
}
